

.home {
  margin: auto;
  padding: 50px 25px;
  border: 50px;
  text-align: center;
  background-color: #FFFFFF;

}

.header {
  background-color: white;
  position: absolute;
  margin: auto;
  padding: 20px;
  border: 10px;
}

.portfolio {
  padding: 20px;
}

.footer {
  padding: 75px;
  margin-top: 20px;
  background-color: #3a3b42;
  color: whitesmoke;
}

.footer-bottom-text {
  position: relative;
  top: 20px;
}

.footer a {
  color: white;
  text-align: right;
}

.footer a:visited {
  color: whitesmoke;
}

.twitter-link {
  color: white;
}

.div {
  padding: 20px;
  margin: 10px;
}

a:link {
  color: #3a3b42; 
  text-decoration: none;
}

a:visited {
  color: #666872;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(151, 151, 151)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
  background-color: white;
}

/* CARDS */

.card-title {
  font-weight: 500;
}

.card-subtitle {
  font-weight: 300;
}

.card-text {
  font-weight: 300;
}

ul.square-bullets {
  list-style-type: square;
}

div.bottom {
  vertical-align: bottom;
}

/* FONTS */

/* Figure out why this isn't changing */

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: #5abfbf;
  text-align: center;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 18px;
}

/* SOCIAL ICONS */

.social-icon {
  color: white;
}

/* FORM */

.success-message {
  background-color: white;
  padding: 15px;
}

.span-error {
  color: red;
}
/* MISC */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 